In [9]:
import pandas as pd
data=pd.read_csv('/content/drive/My Drive/Deep Learning /ebola.csv')
data=pd.melt(frame=data,id_vars=['Date','Day'],var_name="type_country",value_name="counts")
# print(data.head())
data['str_split']=data.type_country.str.split('_')
data['type']=data.str_split.str.get(0)
data['country']=data.str_split.str.get(1)
print(data.tail())

           Date  Day type_country  counts       str_split    type country
1947  3/27/2014    5  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1948  3/26/2014    4  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1949  3/25/2014    3  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1950  3/24/2014    2  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1951  3/22/2014    0  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali