In [13]:
import pandas as pd 
data=pd.read_csv('/content/drive/My Drive/Deep Learning /tb.csv')
data=pd.melt(frame=data,id_vars=['country','year'],var_name="names",value_name="their_values")
data['gender']=data.names.str[0]
data['agegroup']=data.names.str[1:]
print(data.head())

  country  year names  their_values gender agegroup
0      AD  2000  m014           0.0      m      014
1      AE  2000  m014           2.0      m      014
2      AF  2000  m014          52.0      m      014
3      AG  2000  m014           0.0      m      014
4      AL  2000  m014           2.0      m      014